.card{
    border: 1px solid black;
    border-radius: var(--border-radius);
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.card:hover{
    cursor: pointer;
}
.card > img{
    width: 100%;
    height: 100%;
    border-radius: calc(var(--border-radius));
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.card > div, 
.card > div > div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.card > div{
    margin: .5rem 0;
    flex-direction: column;
}
/* cards details */
.card .airline{
    font-size: .7rem;
}
.card .arrival{
    font-size: .7rem;
    font-weight: 600;
}
.card .leaving{
    font-family: var(--font-mono);
    font-size: .9rem;
    font-weight: 800;
    margin-bottom: 6px;
}
.card .leaving:hover{
    font-weight: 400;
}
.card .value{
    color: green;
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 6px;
}
.card .value::after{
    content: "R$";
    font-size: 0.7rem;
}