.destino{
  width: 100%;
  display: grid;
  grid-template-columns: .2fr .8fr;
  grid-template-areas: "filtro content";
  gap: 10px;
}
.destino navibar,
.destino main{
  width: 100%;
  padding: 10px;
  border-radius: var(--border-radius);
}
.destino navibar{
  border: 1px solid black;
  background-color: #fff;
  grid-area: "filtro";
}
.destino main{
  grid-area: "content";
  background-color: aqua;
  width: 100%;
}
.destino main div{
  margin-top: 1vh;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  background-color: antiquewhite  ;
}
/* cards */
.destino .card{
  border: 1px solid black;
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}
.destino .card > div{
  display: flex;
  flex-direction: column;
}