.destino{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "filtro content";
  gap: 15px;
}
.destino navibar,
.destino main{
  width: 100%;
  padding: 10px;
  padding-bottom: 0px;
  border-radius: var(--border-radius);
}
.destino navibar{
  grid-area: "filtro";
  border: 1px solid black;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.destino main{
  grid-area: "content";
  width: 100%;
}
.destino main .cards{
  margin-top: 2vh;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  box-sizing: border-box;
}
/* the cards */
.destino .card{
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.destino .card:hover{
  cursor: pointer;
}
.destino .card > img{
  width: 100%;
  height: 100%;
  border-radius: calc(var(--border-radius) *2);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.destino .card > div, 
.destino .card > div > div{
  display: flex;
  align-items: center;
  gap: 5px;
}
.destino .card > div{
  margin: .5rem 0;
  flex-direction: column;
}
.card .date{
  font-family: var(--font-mono);
  font-weight: 600;
}
.card .date:hover{
  font-weight: 800;
}
.card .value{
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 6px;
}
.card .value::after{
  content: "R$";
  font-size: 0.7rem;
}